//global
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

p, li, a {
	font-family: 'Open Sans', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: #000;
}

//header
header {
  height: 10vh;
  background: rgb(35, 76, 125);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  p.welcome {
  	color: white;
  	font-family: 'Dosis', sans-serif;
  	font-size: 1.5em;
  }
}

/*INDEX*/
//hero
div.index section.hero {
	background: black;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

//nav 
div.index nav {
	background: rgb(120, 202, 230);
	padding: 20px 10px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	h1 {
		text-align: center;
		font-size: 1.6em;
		color: #000;
		text-transform: capitalize;
		letter-spacing: .1em;
	}
	ul {
		// background: crimson;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		justify-content: space-between;
		height: 250px;
		li {
			background: rgb(35, 76, 125);
			// margin: 10px;
			height: 60px;
			padding: 0;
			a, a:visited {
				display: inline-block;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 1.5em;
				letter-spacing: .1em;
			}
			a:active {
				color: rgb(120, 202, 230);
			}
		}
	}
}

/*BOOTCAMPS PAGE*/
div.bootcamps_page {
	background: black;
}

div.bootcamps_page h1 {
	padding: 20px 10px;
	color: white;

}

div.bootcamps_page h1.title_end {
	text-align: right;
}

div.bootcamps_page section.bootcamp {
	background: rgb(120, 202, 230);
	padding: 10px 5px;
	// margin-bottom: 5px;
	border-top: 3px solid black;
	h2 {
		text-align: center;
		text-transform: capitalize;
		font-size: 2.4em;
		margin-bottom: 15px;
		border-top: 2px solid white;
		border-bottom: 3px solid rgb(35, 76, 125);
		padding: 5px 0;
	}
	p {
		margin: 15px 0 15px 30px;
		text-transform: capitalize;
		font-size: 1.2em;
	}
}